boto3==1.9.66
botocore==1.12.189
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
cryptography==2.9.2
docutils==0.16
python-dateutil==2.8.1
python-gnupg==0.4.6
s3transfer==0.1.13
six==1.15.0
urllib3==1.25.9
